@import url('icons.css');

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  padding-top: 60px;
  font-family: 'Oxygen', sans-serif;
  background-image: url(../img/aldia-bckg.png);
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Baloo Thambi', sans-serif;
}

footer {
  background-color: #DA2D4A;
}

/* Helpers */

.m-t-0 {
  margin-top: 0px;
}
.m-r-0 {
  margin-right: 0px;
}
.m-l-0 {
  margin-left: 0px;
}
.m-b-0 {
  margin-bottom: 0px;
}
.m-t-5 {
  margin-top: 5px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-l-5 {
  margin-left: 5px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-t-25 {
  margin-top: 25px;
}
.m-r-25 {
  margin-right: 25px;
}
.m-l-25 {
  margin-left: 25px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-r-30 {
  margin-right: 30px;
}
.m-l-30 {
  margin-left: 30px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-t-35 {
  margin-top: 35px;
}
.m-r-35 {
  margin-right: 35px;
}
.m-l-35 {
  margin-left: 35px;
}
.m-b-35 {
  margin-bottom: 35px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-r-40 {
  margin-right: 40px;
}
.m-l-40 {
  margin-left: 40px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.m-t-45 {
  margin-top: 45px;
}
.m-r-45 {
  margin-right: 45px;
}
.m-l-45 {
  margin-left: 45px;
}
.m-b-45 {
  margin-bottom: 45px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-r-50 {
  margin-right: 50px;
}
.m-l-50 {
  margin-left: 50px;
}
.m-b-50 {
  margin-bottom: 50px;
}
.m-t-55 {
  margin-top: 55px;
}
.m-r-55 {
  margin-right: 55px;
}
.m-l-55 {
  margin-left: 55px;
}
.m-b-55 {
  margin-bottom: 55px;
}
.m-t-60 {
  margin-top: 60px;
}
.m-r-60 {
  margin-right: 60px;
}
.m-l-60 {
  margin-left: 60px;
}
.m-b-60 {
  margin-bottom: 60px;
}
.m-t-65 {
  margin-top: 65px;
}
.m-r-65 {
  margin-right: 65px;
}
.m-l-65 {
  margin-left: 65px;
}
.m-b-65 {
  margin-bottom: 65px;
}
.m-t-70 {
  margin-top: 70px;
}
.m-r-70 {
  margin-right: 70px;
}
.m-l-70 {
  margin-left: 70px;
}
.m-b-70 {
  margin-bottom: 70px;
}
.m-t-75 {
  margin-top: 75px;
}
.m-r-75 {
  margin-right: 75px;
}
.m-l-75 {
  margin-left: 75px;
}
.m-b-75 {
  margin-bottom: 75px;
}
.m-t-80 {
  margin-top: 80px;
}
.m-r-80 {
  margin-right: 80px;
}
.m-l-80 {
  margin-left: 80px;
}
.m-b-80 {
  margin-bottom: 80px;
}
.m-t-85 {
  margin-top: 85px;
}
.m-r-85 {
  margin-right: 85px;
}
.m-l-85 {
  margin-left: 85px;
}
.m-b-85 {
  margin-bottom: 85px;
}
.m-t-90 {
  margin-top: 90px;
}
.m-r-90 {
  margin-right: 90px;
}
.m-l-90 {
  margin-left: 90px;
}
.m-b-90 {
  margin-bottom: 90px;
}
.m-t-95 {
  margin-top: 95px;
}
.m-r-95 {
  margin-right: 95px;
}
.m-l-95 {
  margin-left: 95px;
}
.m-b-95 {
  margin-bottom: 95px;
}
.m-t-100 {
  margin-top: 100px;
}
.m-r-100 {
  margin-right: 100px;
}
.m-l-100 {
  margin-left: 100px;
}
.m-b-100 {
  margin-bottom: 100px;
}
.m-t-15-p {
  margin-top: 15%;
}

/* Bootstrap reset */

.btn-default,
.btn-default:hover {
  color: #da2d4a;
  background-color: #fff;
  border-color: #da2d4a;
  outline: none;
}

.btn-default.active {
  color: #fff;
  background-color: #da2d4a;
  border-color: #da2d4a;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: #da2d4a;
    border-color: #da2d4a;
    outline: none;
}

.navbar-inverse {
  background-color: #DA2D4A;
  border-color: #DA2D4A;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.navbar-brand {
  height: 60px;
  line-height: 46px;
}

.navbar-brand img {
    height: 30px;
}

.menu-user {
  font-size: 15px;
  height: 60px;
  line-height: 33px !important;
  text-transform: uppercase;
  font-family: 'Baloo Thambi', sans-serif;
}

.menu-user i {
  position: relative;
  top: 2px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  color: #fff;
  background-color: #a9122b;
}

.dropdown-menu {
  top: 101%;
  float: left;
  font-size: 15px;
  text-align: right;
  border: 0;
  -webkit-box-shadow: 0 4px 13px rgba(0,0,0,.175);
  box-shadow: 0 4px 13px rgba(0,0,0,.175);
}

.drop-aldia {
  color: #fff;
    background-color: #a9122b;
}

.drop-aldia>li>a {
    color: #fff;
    padding: 15px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Baloo Thambi', sans-serif;
}

.drop-aldia>li>a:focus, .drop-aldia>li>a:hover {
    color: #fff;
    background-color: #DA2D4A;
}

section.aldia-section {
  padding: 50px 0;
}

.main-color-text {
  color: #DA2D4A !important;
}

.navbar-toggle {
    margin-top: 13px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-color: transparent !important;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
}

.table {
  margin: 20px 0;
}

.table>thead>tr>th {
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.btn-primary {
    color: #fff;
    background-color: #da2d4a !important;
    border-color: #da2d4a !important;
}

.modal-header {
  padding: 15px;
  padding-bottom: 0;
  border-bottom: 0px;
}



/* videoWelcome */

#videoWelcome {
  height: 350px;
  position: relative;
  background-repeat: no-repeat;
  background-image: url(../img/poster-food.jpg);
  background-size: cover;
  background-position-y: center;
}

#videoWelcome:before {
  content: "";
  display: block;
  height: 350px;
  width: 100%;
  position: absolute;
  background-color: rgba(19, 19, 19, 0.35);
}

#videoWelcome h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    width: 100%;
    text-shadow: 0 2px 5px #000000;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.vid-bckg {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(../img/vid-bckg.png) no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

/* Menú */

#menu h2 {
  font-size: 40px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
}

.nav-menu li {
  display: inline-block;
  float: none;
  margin: 0;
  background-color: white;
  font-size: 15px;
}

.nav-menu li+li {
  margin: 0;
}

.nav-menu li a {
    color: #DA2D4A;
    font-weight: bold;
    padding: 15px 30px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #da2d4a;
    box-shadow: 0 0px 11px #da2d4a;
}

.menu-timeline-section {
  margin-top: 50px;
}

.panel:after {
  content:"";
  display: block;
  clear: both;
}

.pad-15 {
  padding: 15px;
}

.plato {
    margin: 8px 0;
    color: #525252;
}

.plato h3 {
    font-size: 20px;
    margin-top: 0;
}

.plato p {
    font-size: 15px;
    line-height: 1.3;
    color: #929292;
    font-style: italic;
}

.plato ul {
  list-style: none;
  padding: 0
}

.plato ul li {
  padding: 0
}

.plato .add-plato {
  display: block;
  text-align: center;
  padding: 15px;
  margin-top: 23px;
  background-color: #ffffff;
  text-transform: uppercase;
  color: #4a4a4a;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0px #b9b9b9;
  text-decoration: none;
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.plato .add-plato:hover{
  color: #fff;
  background-color: #da2d4a;
  box-shadow: 0 0px 11px #da2d4a;
}

.nav-day>li>a {
  color: #8e8e8e;
  font-size: 16px;
}

.nav-day>li.active>a, .nav-day>li.active>a:focus, .nav-day>li.active>a:hover {
  color: #da2d4a;
  cursor: default;
  background-color: #fff;
  border:0;
  border-bottom: 3px solid #da2d4a;
}

.plato-price {
  color: #676767;
  font-size: 19px;
}

.plato-price span:before, 
.plato-price-checkout:before,
.check-prices:before {
  content: "$";
}

.panel-heading {
    padding: 13px 15px;
    border-bottom: 2px solid rgb(234, 234, 234);
    font-size: 16px;
}

.sin-pedido{
  display: none;
}

.timeline-checkout {
  padding-left: 25px;
  position: relative;
}

.timeline-checkout li {
  position: relative;
}

.timeline-checkout li:before {
  background: #fff none repeat scroll 0 0;
  border: 5px solid #da2d4a;
  border-radius: 50px;
  content: "";
  height: 19px;
  left: -27px;
  position: absolute;
  top: -2px;
  width: 19px;
  z-index: 999;
}

.timeline-checkout:before {
    background-color: #da2d4a;
    content: "";
    height: 100%;
    left: 6px;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 9;
}

.plato-checkout {
  padding: 8px 5px;
}

.checkout-totals {
  padding: 0;
}

.checkout-totals li {
  margin-bottom: 5px;
}

.delete-item {
  background-color: #b9b9b9;
  height: 20px;
  width: 20px;
  line-height: 24px;
  border-radius: 50%;
  padding-left: 1px;
  color: #717171;
  text-align: center;
  text-decoration: none !important;
  display: none;
}

.delete-item:hover {
  background-color: #da2d4a;
  color: white;
}

.plato-checkout:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

.plato-checkout:hover .plato-price-checkout {
  display: none;
}

.plato-checkout:hover .delete-item {
  display: inline-block;
}

.incrementer-plato {
  display: inline-block;
  font-size: 15px;
}

.incrementer-plato button {
  height: 23px;
  width: 23px;
  background-color: transparent;
  border: 0;
  display: inline-block;
  outline: none;
  line-height: 23px;
  border-radius: 50%;
  text-align: center;
  padding-left: 4px;
}

.incrementer-plato button:hover {
  background-color: #DA2D4A;
  color: white;
}

.incrementer-plato input {
  border: 0;
  padding: 0px 4px;
  width: 40px;
  text-align: center;
  border-bottom: 1px solid #a5a5a5;
  padding-bottom: 5px;
}

.btn-checkout {
    background-color: #26C281;
    color: white !important;
}

.pedido-comentario {
    margin: 25px 0;
}

/* Configuración */

#camposGrupo {
  display: none;
}

/* footer */

footer {
  padding: 30px 0;
}

.footer-logo img {
  width: 100px;
}

.social-contact {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 30px 0;
}

.social-contact li {
  display: inline-block;
  margin-right: 10px;
}

.social-contact li:last-child {
  margin-right: 0px;
}

.social-contact li img {
  width: 40px;
}

.footer-links {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-top: 30px;
}

.footer-links li {
  display: inline-block;
  margin-right: 10px;
}

.footer-links li a {
  color: white;
}

.nav-semanas li.toggle-mobile-semanas {
  display: none;
}

.pedido-mobile {
    position: fixed;
    top: 80px;
    width: 100%;
    bottom: 0;
    z-index: 1000000;
    display: none; 
}

.pedido-mobile #pedidoWrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    margin-bottom: 0;
}

.show-pedido-row {
  display: none;
  outline: none;
}

#alertAddPlato {
    position: fixed;
    bottom: 0;
    padding: 15px;
    right: 0;
    display: none;
}

.pedido-comment {
  width: 100%;
  min-height: 120px;
  padding: 10px;
  border-color: #c7c7c7;
  border-radius: 2px;
  resize: none;
  outline: none;
  margin-bottom: 10px;
}

.pedidos-card {
  background-color: white;
  border-radius: 3px;
  padding: 15px 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.pedidos-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.pedidos-list li {
  text-align: center;
  display: inline-block;
  float: none;
  margin: 0;
  font-size: 15px;
  padding: 21px 30px;
}

.pedidos-list li i {
    color: #da2d4a;
    top: 2px;
    position: relative;
    margin-right: 4px;
}

.pedidos-list li .pedido-price:before,
.price-pedidos:before {
    content: "$";
}

.open-plato-details {
  color: #da2d4a !important;
  display: block;
  margin-top: 10px;
  text-decoration: none !important;
}

.open-plato-details p {
  margin-bottom: 0;
}

.timeline-pedidos-hidden {
  padding: 15px;
  display: none;
}

.pendiente-label {
    padding: 20px;
    background-color: #e6f3ff;
    color: #537da2;
    border-radius: 5px;
}

.pendiente-label  i {
  position: relative;
  top: 2px;
  font-size: 15px;
}

.pendiente-label {
    padding: 15px;
    background-color: #e6f3ff;
    color: #537da2;
    border-radius: 5px;
    margin-top: 5px;
}

.comentarios-title {
  margin-top: 25px;
  margin-bottom: 5px;
}

.nav-weeks-pedidos {
  text-align: center;
}

.nav-weeks-pedidos li {
  float: none;
  display: inline-block;
}

.nav-weeks-pedidos li a {
  color: #666666;
}

.price-pedidos{
    font-weight: 800;
}

.btn-details {
  font-size: 18px;
  padding: 9px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #da2d4a !important;
  border-color: #da2d4a !important;
  outline: none;
}

.upload-img-wrapper {
   padding: 25px 0;
}

.cta-upload-profile {
  font-size: 20px;
  margin: 15px 0;
}

.tip-upload {
  font-size: 15px;
  margin-top: 10px;
  color: #989898;
}

.upload-img-wrapper:active #img-result {
  margin-top: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.upload-img-wrapper #img-result {
  cursor: pointer;
  margin: 0;
  position: relative;
  background: #cccccc;
  background-size: cover;
  background-position: center;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  color: rgba(103, 103, 103, 0);
}

.upload-img-wrapper #img-result.no-image:before {
  font-family: 'dripicons-v2';
  content: "\e032";
  position: absolute;
  left: 50%;
  top: 50%;
  color: #989898;
  font-size: 70px;
  transform: translateX(-50%)translateY(-50%);
}

.upload-img-wrapper button {
  margin-top: 20px;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  padding: 10px;
  letter-spacing: 1.3px;
  font-size: 1.05em;
  border-radius: 5px;
  outline: 0;
}

/* Perfil catering */

.profile-img-container {
  width: 125px;
  height: 125px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 30px;
}

.catering-name {
  color: white;
  margin-bottom: 15px;
  text-shadow: 0 2px 5px #000000;
}

.data-catering ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

.data-catering ul li {
  color: white;
  display: inline-block;
  font-size: 30px;
  padding: 15px;
  text-shadow: 0 2px 5px #000000;
}

.data-catering ul li:last-child {
  border-left:2px solid white;
}

.data-catering ul li p {
  font-size: 20px;
}

/* Media queries */

@media screen and (max-width: 768px) { 
  .navbar-inverse .navbar-nav>li>a {
    text-align: right;
  }

  .nav-semanas li {
    width: 75%;
    float: left;
  }

  .nav-semanas li.active {
    display: block;
  }

  .nav-semanas li.toggle-mobile-semanas {
    width: 20%;
    float: none;
    border-radius: 3px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
    display: inline-block;
  }

  .nav-semanas li.toggle-mobile-semanas button {
    padding-top: 11px;
    font-size: 23px;
    padding-bottom: 4px;
    color: #da2d4a;
    outline: none;
  }


  #videoWelcome, #videoWelcome:before {
    height: 230px;
  }

  #videoWelcome h1 {
    font-size: 40px;
  }

  section.aldia-section {
    padding: 10px 0;
  }

  .timeline-row {
    overflow-y: scroll;
    max-height: 244px;
  }

  .timeline-checkout {
    padding-left: 30px;
  }

  .timeline-checkout:before {
    left: 11px;
  }

  .totals-row {
    position: absolute;
    width: 100%;
    padding: 15px;
    left: 0;
    bottom: 0;
  }

  #pedidoWrapper .panel-heading {
    border-bottom: 0;
    font-size: 23px;
    text-align: center;
  }

  .show-pedido-row {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 4000;
  }

  .show-pedido-row button {
    padding: 15px;
    border-radius: 0;
    font-size: 18px;
  }

  .show-pedido-row button i {
    position: relative;
    top: 2px;
    margin-right: 5px;
  }

  #alertAddPlato {
        left: 0;
    bottom: 50px;
  }

  .plato {
    border-bottom: solid #da2d4a;
    padding: 25px 0;
  }
}